<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content=""width=device-width,initial-scale=1.0">
        <title>Website With Login and registration |codehal</title>
        <link rel="stylesheet" href="web.css">

    </head>
    <body>
        <header>
           <h2 class="logo">WeWomen</h2>
           <nav class="navigation">
            <a href="home.html">HOME</a>
            <a href="about.html">ABOUT</a>
            <a href="em.html">ACCOUNT</a>
            <a href="services.html">SERVICES</a>
            <a href="contact.html">CONTACT</a>
            <button class="btnLogic-popup">Log Out</button>
           </nav> 
        </header>
        

        <script src="script.js">
            </script>
    </body>

</html>